---
import '../styles/global.css';
import Button from '@/components/Button.astro';
import MainLayout from '@/layouts/main.astro';
import TrailerGalery from '@/components/TrailerGallery.astro';
import NowPlaying from '@/components/NowPlaying.astro';
---

<MainLayout content={{ title: 'Henry Cinemas' }}>
  <div class="w-10/12 mx-auto grid">
    <TrailerGalery/>
    <NowPlaying/>
    <Button>Tailwind Button in Astro!</Button>
    <a href="/markdown-page" class="p-4 underline">Markdown is also supported...</a>
  </div>
</MainLayout>

<script>
	import confetti from 'canvas-confetti';
	const button = document.body.querySelector('button');

	if (button) {
		button.addEventListener('click', () => confetti());
	}
</script>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

