---
---

<h1></h1>

<script>
import { defaultCines } from "@/lib/constants";

  if (typeof window !== 'undefined') {
    const selectedCine = JSON.parse(localStorage.getItem('selectedCine') || '');
    if (selectedCine) {
      window.location.href = `/${selectedCine.value}`;
    } else {
      const defaultCine = defaultCines[0]; // Ensure defaultCines is available here
      window.location.href = `/${defaultCine.value}`;
    }
  }
</script>