---
import { Globe, Instagram, Facebook } from '@lucide/astro';
---
<footer class="bg-background text-white py-6 px-4 w-8/12 mx-auto flex flex-col items-center justify-between gap-16">
  <div class="border-neutral-800 border-1 w-full "></div>
  <div class="flex items-center justify-between w-full">
    <!-- Logo -->
    <img src="images/LogoH.png" alt="Logo" class="w-auto h-24" />
    <!-- Redes sociales -->
    <div class="border border-gray-800 bg-gray-900 p-4 rounded flex flex-col items-center gap-3">
      <span class="text-sm w-full">Sigue a Henry Cinema en:</span>

      <div class="flex items-center gap-3">
        <!-- Página oficial -->
        <a href="https://www.cinemashenry.com.mx/" target="_blank" rel="noopener noreferrer" aria-label="Sitio Oficial" class="hover:text-gray-200 flex items-center gap-1 bg-gradient-to-tr from-red-800 via-red-600 to-red-500 p-2 rounded-full">
          <Globe class="w-4 h-4" stroke-width="2.5px"/>
          <span class="text-xs font-semibold">Sitio Oficial</span>
        </a>

        <!-- Instagram -->
        <a href="https://www.instagram.com/cinemashenry" target="_blank" rel="noopener noreferrer" aria-label="Instagram" class="hover:text-gray-200 flex items-center gap-1 bg-gradient-to-tr from-yellow-400 via-pink-500 to-purple-600 p-2 rounded-full">
          <Instagram class="w-4 h-4" stroke-width="2.5px" />
          <span class="text-xs font-semibold">Instagram</span>
        </a>

        <!-- Facebook -->
        <a href="https://www.facebook.com/cinemashenry" target="_blank" rel="noopener noreferrer" aria-label="Facebook" class="hover:text-gray-200 flex items-center gap-1 bg-[#1877F2] p-2 rounded-full">
          <Facebook class="w-4 h-4" stroke-width="2.5px"/>
          <span class="text-xs font-semibold">Facebook</span>
        </a>
      </div>
    </div>
  </div>
  <!-- Mensaje -->
  <p class="text-sm text-gray-400 font-mono text-center">
    Este sitio fue creado solo con fines educativos para mas informacion ver:<br />
    <a href="https://www.cinemashenry.com.mx/" target="_blank" class="underline">
      https://www.cinemashenry.com.mx/
    </a>
  </p>
</footer>
