---
import Navbar from '@/components/Navbar.astro';
import '../styles/global.css';
import 'swiper/css';
import Footer from '@/components/Footer.astro';
const { content } = Astro.props;
import { ClientRouter } from "astro:transitions";
---

<html lang="es" class="dark">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content={content.description || "Disfruta de las mejores películas en Henry Cinemas. Consulta nuestra cartelera y horarios."} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{content.title}</title>
		<ClientRouter />
	</head>
	<body>
    <Navbar/>
    <main class="mx-auto max-w-dvw px-4 md:px-6 flex-1 w-full">
      <slot />
    </main>
    <Footer/>
	</body>
</html>
